@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[95%] max-w-[1246px] 2xl:max-w-[1536px] mx-auto;
}

.MuiStepLabel-label.Mui-completed {
  color: #95539b;
  font-weight: 600;
  font-size: medium;
}
.MuiNativeSelect-select {
  font-weight: 600 !important;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
